body{padding:3ch;padding-left:13ch;padding-right:13ch;margin-bottom:13ch;background-color:rgb(241, 234, 221); color:rgb(41, 9, 33); font-size:large; font-family: serif;}
p, dl, table{margin:0;margin-left:3ch;margin-right:3ch;padding-left:3ch;padding-right:3ch;margin-bottom:1ch;}
h1{border-bottom:1px solid rgb(41, 9, 33);}
dt{font-style:italic;}
li, dd, dt{margin-left:7%; margin-right:7%; margin-bottom:1ch;}
dt{font-weight:bold;}
ul li{border:none;}
table{border:1px solid black; border-spacing:3ch 1ch; margin-top: 3ch;}
a{color:inherit;}
a:hover{background-color: lightgrey;}
code{background-color:lightgrey;}
table table{border-style:none;}
h3 {text-align:center;border-bottom:1px solid rgb(41, 9, 33); width:50%;margin-left:25%;margin-right:50%;}
h4, h5, h6 {text-align:center;width:50%;margin-left:25%;margin-right:50%;}
h2 {font-size:xx-large;} 
h3, h4, h5, h6 {font-size:x-large;}
rec{font-size:smaller;color:#83817a;}
#bottom{background-color:rgb(241, 234, 221);position:fixed;bottom:0;width:90%;text-align:center;}
#bottom a{margin-right:3ch;}
@media print {
	h1{page-break-before:always;}
	h1,h2,h3,h4,h5,h6,dt{page-break-after:avoid;}
	table,li,dd{page-break-inside:avoid;}
}