body{padding:0;padding-left:7%;padding-right:7%;margin-bottom:13%;background-color:rgb(243, 238, 223); color:rgb(29, 0, 29);font-size:medium; font-family: serif;}
p, dl, ul, ol, dl{margin:0;margin-left:7%;margin-right:7%;padding-left:7%;margin-bottom:1ch;font-family:serif;}
table{margin-left:13%;padding-left:0;margin-bottom:1ch;}
h1{border-bottom:3px solid rgb(41, 9, 33);}
dt{font-style:italic;}
li, dd, dt{margin-bottom:1ch;margin-left:7%;}
dt{font-weight:bold;}
ul li{border:none;}
table{border:3px solid black; border-spacing:3ch 1ch; margin-top: 3ch;}
a{color:inherit;}
a:hover{background-color: lightgrey;}
code{background-color:lightgrey;}
table table{border-style:none;}
h3 {text-align:center;border-bottom:3px solid rgb(41, 9, 33); width:50%;margin-left:25%;margin-right:50%;}
h4, h5, h6 {text-align:center;width:50%;margin-left:25%;margin-right:50%;}
h2 {font-size:xx-large;} 
h3, h4, h5, h6 {font-size:x-large;}
rec{font-size:smaller;color:#83817a;}
#bottom{background-color:inherit;position:fixed;bottom:0;width:90%;text-align:center;border-top:3px solid rgb(41, 9, 33);}
#bottom a{margin-right:3%;}
@media only screen and (max-width: 600px) {	
}
@media print {
	h1{page-break-before:always;}
	h1,h2,h3,h4,h5,h6,dt{page-break-after:avoid;}
	table,li,dd{page-break-inside:avoid;}
}